**Data Set Selection and Exploration**

In [ ]:
import pandas as pd

df = pd.read_csv('/content/OzoneNational.csv')

print(df)

    Year      Mean  Number of Trend Sites  10th Percentile  90th Percentile  \
0   1980  0.094925                    134            0.070            0.116
1   1981  0.092347                    134            0.071            0.115
2   1982  0.090713                    134            0.069            0.115
3   1983  0.098052                    134            0.071            0.122
4   1984  0.089019                    134            0.068            0.112
5   1985  0.088769                    134            0.071            0.108
6   1986  0.087888                    134            0.069            0.104
7   1987  0.092200                    134            0.074            0.113
8   1988  0.102177                    134            0.076            0.124
9   1989  0.086660                    134            0.071            0.104
10  1990  0.088080                    134            0.073            0.106
11  1991  0.088118                    134            0.069            0.110
12  1992  0.081757                    134            0.069            0.095
13  1993  0.083740                    134            0.065            0.100
14  1994  0.084633                    134            0.070            0.097
15  1995  0.089701                    134            0.073            0.107
16  1996  0.085284                    134            0.072            0.096
17  1997  0.084925                    134            0.069            0.103
18  1998  0.090063                    134            0.072            0.104
19  1999  0.088649                    134            0.074            0.104
20  2000  0.081220                    134            0.067            0.096
21  2001  0.083675                    134            0.072            0.098
22  2002  0.089228                    134            0.072            0.104
23  2003  0.082888                    134            0.071            0.094
24  2004  0.074112                    134            0.064            0.083
25  2005  0.080377                    134            0.065            0.092
26  2006  0.078563                    134            0.068            0.090
27  2007  0.079642                    134            0.068            0.092
28  2008  0.074090                    134            0.065            0.084
29  2009  0.069082                    134            0.062            0.075
30  2010  0.072634                    134            0.064            0.081
31  2011  0.074119                    134            0.064            0.085
32  2012  0.076530                    134            0.064            0.087
33  2013  0.066918                    134            0.059            0.076
34  2014  0.067184                    134            0.061            0.074
35  2015  0.067947                    134            0.060            0.076
36  2016  0.069142                    134            0.062            0.075
37  2017  0.068123                    134            0.061            0.076
38  2018  0.069448                    134            0.061            0.077
39  2019  0.065474                    134            0.058            0.073
40  2020  0.065835                    134            0.055            0.075
41  2021  0.066983                    134            0.059            0.078
42  2022  0.066851                    134            0.059            0.074
43  2023  0.069918                    134            0.060            0.079

   Units
0    ppm
1    ppm
2    ppm
3    ppm
4    ppm
5    ppm
6    ppm
7    ppm
8    ppm
9    ppm
10   ppm
11   ppm
12   ppm
13   ppm
14   ppm
15   ppm
16   ppm
17   ppm
18   ppm
19   ppm
20   ppm
21   ppm
22   ppm
23   ppm
24   ppm
25   ppm
26   ppm
27   ppm
28   ppm
29   ppm
30   ppm
31   ppm
32   ppm
33   ppm
34   ppm
35   ppm
36   ppm
37   ppm
38   ppm
39   ppm
40   ppm
41   ppm
42   ppm
43   ppm

Summary of Air Quality Data

In [ ]:
import pandas as pd

df = pd.read_csv('/content/OzoneNational.csv')

df.dropna(inplace=True)  # Removes all rows with any NaN
df.dropna(axis=1, inplace=True)  # Removes columns with NaN

print("First 5 rows of the data:")
print(df.head())

print("\nDataFrame Information:")
df.info()

print("\nSummary Statistics (Numerical Data):")
print(df.describe())

print("\nSummary Statistics (All Data):")
print(df.describe(include='all'))

First 5 rows of the data:
   Year      Mean  Number of Trend Sites  10th Percentile  90th Percentile  \
0  1980  0.094925                    134            0.070            0.116
1  1981  0.092347                    134            0.071            0.115
2  1982  0.090713                    134            0.069            0.115
3  1983  0.098052                    134            0.071            0.122
4  1984  0.089019                    134            0.068            0.112

  Units
0   ppm
1   ppm
2   ppm
3   ppm
4   ppm

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   44 non-null     int64
 1   Mean                   44 non-null     float64
 2   Number of Trend Sites  44 non-null     int64
 3   10th Percentile        44 non-null     float64
 4   90th Percentile        44 non-null     float64
 5   Units                  44 non-null     object
dtypes: float64(3), int64(2), object(1)
memory usage: 2.2+ KB

Summary Statistics (Numerical Data):
              Year       Mean  Number of Trend Sites  10th Percentile  \
count    44.000000  44.000000                   44.0        44.000000
mean   2001.500000   0.080629                  134.0         0.066750
std      12.845233   0.010004                    0.0         0.005261
min    1980.000000   0.065474                  134.0         0.055000
25%    1990.750000   0.069800                  134.0         0.062000
50%    2001.500000   0.082323                  134.0         0.068000
75%    2012.250000   0.088679                  134.0         0.071000
max    2023.000000   0.102177                  134.0         0.076000

       90th Percentile
count        44.000000
mean          0.094295
std           0.015064
min           0.073000
25%           0.078750
50%           0.095500
75%           0.104500
max           0.124000

Summary Statistics (All Data):
               Year       Mean  Number of Trend Sites  10th Percentile  \
count     44.000000  44.000000                   44.0        44.000000
unique          NaN        NaN                    NaN              NaN
top             NaN        NaN                    NaN              NaN
freq            NaN        NaN                    NaN              NaN
mean    2001.500000   0.080629                  134.0         0.066750
std       12.845233   0.010004                    0.0         0.005261
min     1980.000000   0.065474                  134.0         0.055000
25%     1990.750000   0.069800                  134.0         0.062000
50%     2001.500000   0.082323                  134.0         0.068000
75%     2012.250000   0.088679                  134.0         0.071000
max     2023.000000   0.102177                  134.0         0.076000

        90th Percentile Units
count         44.000000    44
unique              NaN     1
top                 NaN   ppm
freq                NaN    44
mean           0.094295   NaN
std            0.015064   NaN
min            0.073000   NaN
25%            0.078750   NaN
50%            0.095500   NaN
75%            0.104500   NaN
max            0.124000   NaN

Carbon Emissions

In [ ]:
import pandas as pd

df = pd.read_csv('/content/co2_annmean_gl.csv')

print(df)

    year    mean   unc
0   1979  336.85  0.11
1   1980  338.91  0.07
2   1981  340.11  0.09
3   1982  340.86  0.03
4   1983  342.53  0.06
5   1984  344.07  0.08
6   1985  345.54  0.07
7   1986  346.97  0.07
8   1987  348.68  0.10
9   1988  351.16  0.07
10  1989  352.79  0.07
11  1990  354.05  0.07
12  1991  355.39  0.07
13  1992  356.09  0.06
14  1993  356.83  0.07
15  1994  358.33  0.08
16  1995  360.17  0.05
17  1996  361.93  0.04
18  1997  363.05  0.05
19  1998  365.70  0.04
20  1999  367.80  0.05
21  2000  368.96  0.06
22  2001  370.57  0.05
23  2002  372.58  0.04
24  2003  375.15  0.04
25  2004  376.95  0.06
26  2005  378.98  0.05
27  2006  381.15  0.05
28  2007  382.90  0.04
29  2008  385.02  0.05
30  2009  386.50  0.04
31  2010  388.75  0.06
32  2011  390.62  0.05
33  2012  392.65  0.06
34  2013  395.40  0.06
35  2014  397.34  0.05
36  2015  399.65  0.05
37  2016  403.06  0.06
38  2017  405.22  0.07
39  2018  407.61  0.07
40  2019  410.07  0.07
41  2020  412.44  0.06
42  2021  414.70  0.07
43  2022  417.08  0.07
44  2023  419.32  0.15

Summary of Carbon Emissions Data

In [ ]:
import pandas as pd

df = pd.read_csv('/content/co2_annmean_gl.csv')

print("First 5 rows of the data:")
print(df.head())

print("\nDataFrame Information:")
df.info()

print("\nSummary Statistics (Numerical Data):")
print(df.describe())

print("\nSummary Statistics (All Data):")
print(df.describe(include='all'))

First 5 rows of the data:
   year    mean   unc
0  1979  336.85  0.11
1  1980  338.91  0.07
2  1981  340.11  0.09
3  1982  340.86  0.03
4  1983  342.53  0.06

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    45 non-null     int64
 1   mean    45 non-null     float64
 2   unc     45 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.2 KB

Summary Statistics (Numerical Data):
              year        mean        unc
count    45.000000   45.000000  45.000000
mean   2001.000000  373.788444   0.062889
std      13.133926   24.468572   0.020848
min    1979.000000  336.850000   0.030000
25%    1990.000000  354.050000   0.050000
50%    2001.000000  370.570000   0.060000
75%    2012.000000  392.650000   0.070000
max    2023.000000  419.320000   0.150000

Summary Statistics (All Data):
              year        mean        unc
count    45.000000   45.000000  45.000000
mean   2001.000000  373.788444   0.062889
std      13.133926   24.468572   0.020848
min    1979.000000  336.850000   0.030000
25%    1990.000000  354.050000   0.050000
50%    2001.000000  370.570000   0.060000
75%    2012.000000  392.650000   0.070000
max    2023.000000  419.320000   0.150000